<!DOCTYPE html>
<html >
<head>
  <title>Crop Field Segmentation</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <h1>Image Segmentation</h1>

<form class = "p-3 text-center" action = '/', method = "post", enctype = "multipart/form-data">
  <input class = "form-control" type = "file" name = "imagefile">
  <input class = "btn btn-primary mt-3" type = "submit" value="Predict Image">
</form>

</body>
</html>



